body{
  font-family: Arial;
  text-align: center;
  margin-top: 80px;
}

input, button{
  display: block;
  margin: 10px auto;
  padding: 10px;
  width: 240px;
}

button{
  background: #25D366;
  color: white;
  border: none;
  cursor: pointer;
}
